.search-wrapper{
    background: #DD434F;
    padding:20rpx;

    .search-input{
        background:#fff;
        height:60rpx;
        font-size:15px;
        color:#999;
        display: flex;
        align-items: center;
        padding: 0 20rpx;
    }

    .search-input icon{
    margin-right:5px;
    }
}

.tab{
    display: flex;
    border-bottom: 1px solid #eee;
    .tab-item{
         flex: 1;
         text-align: center;
         line-height: 100rpx;
    }
    .active{
        color: red;

    }

}

.goods-list{
    padding-left:20rpx;
    .goods-item{
      display: flex;
      border-bottom: 1px solid #eee;
      padding:20rpx 20rpx 20rpx 0;
      img{
          display: block;
          width: 200rpx;
          height: 200rpx;
          margin-right: 20rpx;

      }
      .goods-right{
               flex: 1;
               display: flex;
               justify-content: space-between;
               flex-direction: column;
            
        .goods-title{
            // css3实现多行文本溢出显示省略号...
           display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 2; //限制文本的行数，只显示两行
            overflow: hidden;
        }
        .goods-price{
               color:red;
               font-size: 14px;
               span{
                   font-size: 22px;
               }
        }
      }
    }
}

.loading{
    line-height: 80rpx;
    text-align: center;
    font-size:14px;
    color:#999;
}
