.slide-image{
  height:340rpx;
  width:750rpx;
}
.navMenus{
  display: flex;
  justify-content: space-around;
  padding:20rpx 0;
  img{
    width: 128rpx;
    height:140rpx;
  }
}
.floor-title{
  img{
    width:750rpx;
    height:60rpx;
    display: block;
  }
}
 .product{
  padding:20rpx;
  display: flex;

  .left{
    margin-right:15rpx;
    img{
      width:232rpx;
      height:385rpx;
    }
  }

  .right{
    display: flex;
    flex-wrap: wrap;
    flex:1;
    justify-content: space-between;

    img{
      width:232rpx;
      height:188rpx;
      
    }
  }
}