.cart-top{
    .receive{
        padding:20rpx;
        display: flex;
        justify-content: space-between;
        align-items: center;

        &:after{
            display: block;
            content: "";
            width:12px;
            height:12px;
            border-top:1px #999 solid;
            border-right:1px #999 solid;
            transform: rotate(45deg);
        }

        .phonen-number{
            flex:1;
            text-align: right;
            padding-right:10px;
        }
    }
}

.address{
    padding:20rpx;
    padding-top:0;
}

.address-bar{
    width:100%;
    display: block;
    height:7px;
}

.list-title{
    border-top:10px #eee solid;
    padding:20rpx;
    border-bottom:1px #eee solid;

    span{
        color:#999;
        margin-right:10px;
    }
}

.ware-item{
    display: flex;
    align-items: center;

    .choice-button{
        padding: 40rpx;
        flex-shrink:0;
    }

    .ware-content{
        flex:1;
        padding:20rpx;
        display: flex;
        justify-content: space-between;
        border-bottom:1px #eee solid;

        .ware-title{
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 2;
            overflow: hidden;
        }

        .ware-image{
            margin-right:10px;
            img{
                width:160rpx;
                height:160rpx;
                display: block;
            }
        }

        .ware-info{
            flex:1;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
    }
}

.ware-info-btm{
    display: flex;
    justify-content: space-between;
}
.calculate{
    display: flex;
    align-items: center;

    .rect{
        padding:0 10rpx;
        border:1px #999 solid;
    }

    .number{
        width:40px;
        text-align: center;
    }
}

.ware-price{
    color:red;
    font-size:18px;

    span{
        font-size:12px;
    }
}

.cart-total{
    border-top:1px #eee solid;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height:100rpx;
    position: fixed;
    bottom:0;
    left:0;
    width:100%;
    background: #fff;

    .total-button{
        padding:20rpx 40rpx;
        display: flex;
        align-items: center;

        icon{
            margin-right:10px;
        }
    }

    .total-center{
        flex:1;
        padding:20rpx;

        .price-tips{
            color:#999;
            font-size: 12px;
        }
    }

    .accounts{
        width:30%;
        background:red;
        color:#fff;
        line-height: 100rpx;
        text-align: center;
    }
}

.colorRed{
    color:red;
}

.get-address{
    padding:20rpx;
    display: flex;
    justify-content: center;
}

.empty{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    position: absolute;
    top:0;
    bottom:0;
    width:100%;

    img{
        width:160rpx;
        height:160rpx;
        margin-bottom:50rpx;
    }
}


.pa20{
    padding:20rpx;
    span{
        color:red;
    }
}

.pay-button{
    margin:20rpx;
}