.container{
    position: absolute;
    top:0; 
    bottom:0;
    width:100%;
    overflow: auto;
    background:#eee;
}

.header{
    background:#DD434F;
    display: flex;
    justify-content: center;
    align-items: center;
    padding:80rpx 0 110rpx;
    color:#fff;

    .profile{
        margin:0 50rpx;
        text-align: center;
        .head-img{
            width:160rpx;
            height:160rpx;
            border-radius: 50%;
            border:4px #fff solid;
            margin-bottom:10rpx;
            overflow: hidden;
        }
    }
}

.content{
 margin:-30rpx 20rpx 0;
 .profile-info{
     display: flex;
     justify-content: space-around;
     background: #fff;
     padding:20rpx 0;

     p{
        line-height: 1.5;
        text-align: center;
        font-size: 14px;
        &:first-child{
            color:#999;
        }
     }
 }
}

.order-list{
    margin-top:20rpx;
    background:#fff;
    .order-title{
        font-size:18px;
        padding:20rpx;
        border-bottom:1px #eee solid;
    }
    .order-content{
        display: flex;
        justify-content: space-around;
        padding:20rpx 0;
        .order-item{
            text-align: center;
            line-height: 1.5;
            font-size: 15px;
            span{
                color:red;
                margin-bottom:10rpx;
                font-size: 32px;
            }
        }
    }
}

.manage-list{
    margin-top:20rpx;
    background:#fff;
    .manage-item{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding:20rpx;
        border-bottom:1px #eee solid;

        span{
            color:#999;
        }

        .arrow{
            display: block;
            width:12px;
            height:12rpx;
            border-top:1px #999 solid;
            border-right:1px #999 solid;
            transform: rotate(45deg);
        }
    }
}