.search-wrapper{
    background: #eee;
    padding: 20rpx;
    // 同一行显示
    display: flex;
    .search-input{
        background: #fff;
        display: flex;
        align-items: center;
        height: 60rpx;
        // 占据剩下的空间
        flex: 1;
        icon{
            margin: 0 10px;
        }
        .input{
            flex:1;
            padding-right: 20rpx;
            font-size: 14px;
        }
    }
    .cancel{
        width: 160rpx;
        height: 60rpx;
        // 覆盖掉原来的样式
        padding: 0;
        font-size: 16px;
        line-height: 60rpx;
        margin-left: 20rpx;

    }

}
.history-title{
    padding: 20rpx;
    display: flex;
    justify-content: space-between;
    // align-items: center;
}
.list{
    padding: 10rpx;
    span{
        display: inline-block;
        padding: 0 20rpx;
        //文字大小的两倍
        line-height: 2;
        background: #eee;
        margin: 10rpx;
    }
}